<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanAo.Properties.Settings.QuanLyQuanAoConnectionString"
            connectionString="Data Source=quanlyquanao.database.windows.net;Initial Catalog=QuanLyQuanAo;Persist Security Info=True;User ID=ThanhQuy"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanAo.Properties.Settings.QuanLyQuanAoConnectionString1"
            connectionString="Data Source=quanlyquanao.database.windows.net;Initial Catalog=QuanLyQuanAo;Persist Security Info=True;User ID=ThanhQuy;Password=Quy0164vn"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanAo.Properties.Settings.QuanLySanPhamConnectionString"
            connectionString="Data Source=quanlyquanao.database.windows.net;Initial Catalog=QuanLySanPham;Persist Security Info=True;User ID=ThanhQuy;Password=Quy0164vn"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>